*{
  /* scroll-behavior: smooth; */
  box-sizing: border-box;
}

.aboutSection::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(15, 51, 81);
  background-image: linear-gradient( 10deg, rgb(245, 240, 216), rgb(38, 135, 247));
}

.aboutSection {
  width: 100%;
  /* height: 100vh; */
  /* overflow: auto; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  background:transparent;
  padding-bottom: 4rem;
  flex: 0 0 auto;
}

.info {
  width: 100%;
  max-width: 32rem;
  font-size: 1.2rem;
  font-family: 'Halant', serif;
  line-height: 2rem;
  margin-right: 6rem;
}

.name {
  font-size: calc(2rem + 2vmax);
  font-weight: bold;
  line-height: 5rem;
  margin-bottom: 1rem;
}

.text {
  margin-bottom: 2rem;
  line-height: 2rem;
}

.contact {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imageContainer {
  margin-bottom: 2rem;
  display: none;
  text-align: center;
}

.imageBottom {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.imageTop {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.welcomeSection {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:transparent;
  font-size: 4rem;
  flex: 0 0 auto;
}

@media screen and (max-width: 768px) {
  .aboutSection {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .info {
    max-width: 32rem;
    margin-right: 0;
  }

  .contact {
    width: 100%;
    max-width: 32rem;
    margin-top: 4rem;
    align-items: flex-start;
  }

  .imageBottom {
    display: none;
  }

  .imageContainer {
    display: block;
  }

}

@media screen and (max-width: 425px) {
  .aboutSection {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
}
