
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  z-index: 5;
  border-bottom: 2px solid #f1f1f1;
  background: white;
}

.projectContainer {
  width: 100%;
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectContainer * {
  transition: all 0.5s;
}

.main {
  width: 100%;
  padding: 0 16rem;
}

.sidebarContainer {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
}

.sidebar > * {
  margin-bottom: 0.3rem;
}

.description {
  width: 100%;
  border: 1px solid gray;
  min-height: 100vh;
  margin-bottom: 0.5rem;
  text-align: center;
}

.navlink {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.next {
  position: absolute;
  right: 3rem;
  font-weight: bold;
}

.previous {
  position: fixed;
  left: 3rem;
  bottom: 2rem;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: bold;
}

.arrowLeft {
  position: absolute;
  left: 3rem;
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 0 12rem;
  }
  .sidebarContainer {
    right: 4%;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 4rem;
  }
  .sidebarContainer {
    display: none;
  }
  .next {
    position: fixed;
    bottom: 2rem;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;  
  }
  .arrowLeft {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .main {
    padding: 0 1rem;
  }

  .previous {
    bottom: 1rem;
  }

  .next {
    bottom: 4rem;
  }
}


