* {
  scroll-behavior: smooth;
}

.container {
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  margin: 0 1.5rem;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  word-break: break-all;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(15, 51, 81);
  letter-spacing: 0.1rem;
}

.next {
  position: absolute;
  right: 3rem;
}

.arrowLeft {
  position: absolute;
  left: 3rem;
}

.logo {
  position: absolute;
  left: -18rem;
}

.logoContainer {
  transition: display 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .logoContainer {
    display: none
  }
}