.flashBar {
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: inline;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(15, 51, 81);
  letter-spacing: 0.1rem;
  width: 100%;
}